[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/ftpsync"]
	path = bundle/ftpsync
	url = https://github.com/vim-scripts/ftpsync
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/web-indent"]
	path = bundle/web-indent
	url = https://github.com/lukaszb/vim-web-indent.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
