filetype off
call pathogen#infect()
call pathogen#helptags()

set nocompatible
set foldmethod=indent
set foldlevel=99

map <c-j> <c-w>j
map <c-k> <c-w>k
map <c-l> <c-w>l
map <c-h> <c-w>h
noremap <leader>w <C-w>v<C-w>l

filetype plugin indent on
syntax on

" Remap K to D for python-mode plugin
let g:pymode_doc_key = 'D'

au FileType python set omnifunc=pythoncomplete#Complete
let g:SuperTabDefaultCompletionType = "context"

let mapleader = ","

set completeopt=menuone,longest,preview
set shiftwidth=4
set softtabstop=4

inoremap jk <Esc>

" close a buffer without closing split/window
map <leader>d :bp<bar>bd #<CR>

map <leader>n :NERDTreeToggle<CR>

map <leader>j :RopeGotoDefinition<CR>
map <leader>i :RopeAutoImport<CR>
map <leader>r :RopeRename<CR>

map <leader>o :TagbarToggle<CR>

nmap <leader>a <Esc>:Ack!

" Python specific stuff 
autocmd BufEnter *.py set ai sw=4 ts=4 sta et fo=croql
let g:pymode_lint_write = 0

colorscheme desert

noremap J 15j
noremap K 15k
noremap L $
noremap H ^
nnoremap ; :

" double semi-colon starts bash command
nnoremap ;; :!

"search stuff
set ignorecase
set smartcase
set incsearch
set showmatch
set hlsearch
nnoremap <leader><space> :noh<cr>

" rainbow parentheses always on
au VimEnter * RainbowParenthesesToggle
au Syntax * RainbowParenthesesLoadRound
au Syntax * RainbowParenthesesLoadSquare
au Syntax * RainbowParenthesesLoadBraces

set noswapfile
set nobackup
set nowritebackup
set hidden

command! Sync execute "!rsync -av /Users/matt/code/ciswp/ nowearth@nowearth.org:ciswp/ --rsh='ssh -p18765'"

" Make EasyMotion operate on any part of the window
function! g:QuickMotion()
  let s=&scrolloff
  setlocal scrolloff=0
  normal! H
  call EasyMotion#F(0, 0)
  let &l:scrolloff = s
endfunction
nnoremap <silent> <Space> :call g:QuickMotion()<cr>
