filetype off
call pathogen#infect()
call pathogen#helptags()

set nocompatible
set foldmethod=indent
set foldlevel=99

map <c-j> <c-w>j
map <c-k> <c-w>k
map <c-l> <c-w>l
map <c-h> <c-w>h
noremap [v :vertical resize -5<cr>
noremap ]v :vertical resize +5<cr>
noremap [h :resize -5<cr>
noremap ]h :resize +5<cr>

filetype plugin indent on
syntax on

" Remap K to D for python-mode plugin
let g:pymode_doc_bind = 'D'
let g:pymode_python = 'python3'

au FileType python set omnifunc=pythoncomplete#Complete
let g:SuperTabDefaultCompletionType = "context"

let mapleader = ","

set completeopt=menuone,longest,preview
set shiftwidth=4 softtabstop=4 expandtab

inoremap jk <Esc>

" close a buffer without closing split/window
map <leader>d :bp<bar>bw #<CR>

" move buffer to new split and set old split to prev buffer
map <leader>v :vsp<bar>bp<CR><c-w>l
map <leader>s :sp<bar>bp<CR><c-w>j

map <Tab> :bn<CR>
map <S-Tab> :bp<CR>

map <leader>n :NERDTreeToggle<CR>
let NERDTreeIgnore=['__pycache__', '\~$']

" toggle line numbers
map <leader>N :set invnumber<CR>

" Python-mode stuff
let g:pymode_rope = 1
let g:pymode_rope_goto_definition_cmd = 'e'
let g:pymode_rope_goto_definition_bind = '<leader>j'
map <leader>i :PymodeRopeAutoImport<CR>
let g:pymode_run_bind = '<leader>e'     " 'execute' instead of 'run'
let g:pymode_rope_rename_bind = '<leader>r'
let g:pymode_lint_checkers = ['pyflakes', 'pep8']
" Automatically fix lint errors
map <leader>f :PymodeLintAuto<CR>:PymodeLint<CR>

map <leader>o :TagbarToggle<CR>

nmap <leader>a <Esc>:Ack!

" CtrlP Stuff
let g:ctrlp_map = '<leader>t'     " I used to use command-t...
let g:ctrlp_custom_ignore = '\v\.(pyc|git)' " Ignore the crap

" Python specific stuff 
autocmd BufEnter *.py set ai sw=4 ts=4 sta et fo=croql 
autocmd BufEnter *.py let &colorcolumn=join(range(80,999),",")
autocmd BufEnter *.py highlight ColorColumn ctermbg=235 guibg=#3A3A3A
let g:pymode_lint_write = 0

colorscheme desert

" remap the join command to ,w (think "wrap")
noremap <leader>w J

" make j/k move correctly on wrapped lines
map j gj
map k gk

noremap J 15j
noremap K 15k
noremap L $
noremap H ^
nnoremap ; :

" double semi-colon starts bash command
nnoremap ;; :!

"search stuff
set ignorecase
set smartcase
set incsearch
set showmatch
set hlsearch
nnoremap <leader><space> :noh<cr>

" Fugitive settings
autocmd BufReadPost fugitive://* set bufhidden=delete " don't show in buffer

" rainbow parentheses always on
au VimEnter * RainbowParenthesesToggle
au Syntax * RainbowParenthesesLoadRound
au Syntax * RainbowParenthesesLoadSquare
au Syntax * RainbowParenthesesLoadBraces

set noswapfile
set nobackup
set nowritebackup
set hidden

command! Sync execute "!rsync -av /Users/matt/code/ciswp/ nowearth@nowearth.org:ciswp/ --rsh='ssh -p18765'"
command! NSync execute "!rsync -av /Users/matt/code/web/functional/ nowearth@nowearth.org:www/neutralio/demo/ --rsh='ssh -p18765'"

nmap <Space> <Plug>(easymotion-s)
